:root {
  --main-color: #fd4242;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

body {
  font-family: 'Outfit', sans-serif;
}

.container {
  width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

#main {
  height: 100vh;
}

#main div {
  flex-direction: column;
  display: flex;
  margin-top: 25%;
}

h1 {
  font-size: 70px;
  font-family: 'Righteous', sans-serif;
  text-align: center;
  margin: auto;
}

h1 span {
  color: var(--main-color);
}

button {
  background: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 50px;
  width: 180px;
  height: 55px;
  text-align: center;
  font-size: 20px;
  font-family: 'Outfit', sans-serif;
  margin: auto;
  margin-top: 100px;
}

@media (max-width: 768px) {
  #main div {
    margin-top: 50%;
  }
}
